*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body{
    overflow: hidden;
}


section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

header{
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header .logo{
    position: relative;
    max-width: 280px;
    right: -60px;
    top: 2px;
    
}

header ul{
 position: relative;
 display: flex;
 
}

header ul li{
    list-style: none;
    font-size: 18px;
}

header ul a{
    display: inline-block;
    color: #333;
    font-weight: 400px;
    margin-left: 40px;
    text-decoration: none;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox{
    position: relative;
    max-width: 600px;
    margin-bottom: 150px;
}

.content .textBox h2{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox h2 span{
    color: red;
    font-size: 1.2em;
    font-weight: 500;
}

.content .textBox p{
color: #333;
word-spacing: 6px;
}

.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-decoration: none;
}

.content .imgBox{
    width: 460px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 200px ;
    margin-right: 0px;
}

.content .imgBox img{
    max-width: 440px;
}


.thumb{
    position: absolute;
    left: 50%;
    bottom: 210px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover{
    transform: translateY(-15px);
}

.thumb li img{
    max-width:100px ;
}


.social-media{
    transform: translateY(80px) translateX(30px);
    margin-left: -37px;
    
}

.social-media i{
    font-size: 35px;
    border: 2px solid #4475e2;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: all .3s;
    border-radius: 50%;
}

.social-media i:hover{
    background: #4475e2;
    color: #fff;
    transform: translateY(5px);
}

.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #C62828;
    clip-path: circle(600px at right 800px);
}
